[submodule "Efficient-AI-Backbones"]
	path = Efficient-AI-Backbones
	url = https://github.com/huawei-noah/Efficient-AI-Backbones.git
[submodule "PVT"]
	path = PVT
	url = https://github.com/whai362/PVT.git
